<ul>
	<li><%= link_to tour_image, pages_tour_path %></li>
	<li><%= link_to about_image, pages_about_path %></li>
	<li><%= link_to faq_image, "#" %></li>
	<li><%= link_to contact_image, "#" %></li>
	<li><%= link_to testimonials_image, "#" %></li>
	<li><%= link_to blog_image, "#" %></li>
</ul>