<div id="links">
	<table>
		<tr>
			<td>
				<%= link_to home_image, root_path %>
			</td>
			<td>
				<%= link_to tour_image, pages_tour_path %>
			</td>
			<td>
				<%= link_to about_image, pages_about_path %>
			</td>
			<td>
				<%= link_to faq_image, pages_faq_path %>
			</td>
			<td>
				<%= link_to contact_image, pages_contact_path %>
			</td>
			<td>
				<%= link_to testimonials_image, pages_testimonials_path %>
			</td>
			<td>
				<%= link_to blog_image, pages_blog_path %>
			</td>
		</tr>
	</table>
</div>