<div id="sidebar">
<ul>
	<li><%= link_to home_image, root_path %></li>
	<li><%= link_to tour_image, pages_tour_path %></li>
	<li><%= link_to about_image, pages_about_path %></li>
	<li><%= link_to faq_image, pages_faq_path %></li>
	<li><%= link_to contact_image, pages_contact_path %></li>
	<li><%= link_to testimonials_image, pages_testimonials_path %></li>
	<li><%= link_to blog_image, pages_blog_path %></li>
</ul>
</div>